* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  background-color: hsl(216, 12%, 8%);
  min-width: 355px;
}
main {
  background-color: hsl(213, 19%, 18%);
  margin: 20% 5% 0% 5%;
  padding: 6%;
  border-radius: 1rem;
}

.circle {
  border-radius: 50%;
  background-color: hsl(214, 13%, 21%);
  width: 14px;
  height: 14px;
  padding: 17px;
}
#star {
  margin-bottom: 20px;
}
h1,
#thanks-message {
  font-weight: 400;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  color: hsl(217, 12%, 63%);
  line-height: 23px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1fr;
  gap: 10px;
  margin-bottom: 25px;
}
li {
  text-align: center;
  color: hsl(217, 12%, 63%);
  font-weight: 700;
}
#submit-button {
  width: 100%;
  height: 48px;
  border-radius: 2rem;
  border: none;
  background-color: hsl(25, 97%, 53%);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}
.thankyou_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#thankyou-icon {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
.user_rating {
  background-color: hsl(214, 13%, 21%);
  color: hsl(25, 97%, 53%);
  width: max-content;
  height: min-content;
  padding: 8px 12px 8px 12px;
  text-align: center;

  border-radius: 2rem;
  margin-bottom: 25px;
}

button {
  border: none;
  width: 100%;
  height: 100%;
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* hidden state */
.hidden {
  display: none;
}

/*active state */
li:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}
li:focus {
  background-color: white;
  color: hsl(213, 19%, 18%);
}
#submit-button:hover {
  background-color: white;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  main {
    margin: 100px 100px 0 100px;
    padding: 50px;
    width: min-content;
  }
  .attribution {
    margin: 0 0 50px 0;
  }

  ul {
    gap: 30px;
  }
  .thankyou_state {
    width: 360px;
  }
}
